@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
